body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header {
    border-bottom: 3px solid blue;
}
h1, h2 {
    text-align: center;
}
footer {
    border-top: 3px solid blue;
    text-align: center;
}
main {
    padding: 20px;
}

a {
    display: inline-block;
    color: gray;
    background: darkgrey;
    padding: 2px;
}